{% extends 'fasbase.html' %}
{% load static %}

{% block contents %}
<center>
   <div> <h2><b>Welcome to Home page</b></h2>
    <!--<img src = "{% static 'images/fas.png' %}">-->
       </div>


</center>
<section class="ftco-section ftco-no-pb">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-md-6 pr-md-5">
    				<div class="heading-section text-md-right ftco-animate">
	          	<span class="subheading">Programs</span>
	            <h2 class="mb-4">Fitness Programs</h2>
	            </div>
    			</div>
    			<div class="col-md-6">
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-gym"></span>
							</div>
							<div class="text ml-5">
								<h3>Body Building</h3>
								<p>Bodybuilding is the use of progressive resistance exercise to control and develop one's musculature for aesthetic purposes. An individual who engages in this activity is referred to as a bodybuilder. ... Bodybuilders may use anabolic steroids and other performance-enhancing drugs to build muscles.</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-woman"></span>
							</div>
							<div class="text ml-5">
								<h3>Aerobic Classes</h3>
								<p>Aerobic exercise is any type of cardiovascular conditioning. It can include activities like brisk walking, swimming, running, or cycling. You probably know it as “cardio.” By definition, aerobic exercise means “with oxygen.” ... Aerobic exercise helps keep your heart, lungs, and circulatory system healthy.	</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-workout"></span>
							</div>
							<div class="text ml-5">
								<h3>Weight Lifting</h3>
								<p>Weight training is a kind of physical exercise in which people lift or push heavy weights with their arms and legs in order to strengthen their muscles.</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text ml-5">
								<h3>Yoga Classes</h3>
								<p>Yoga (/ˈjoʊɡə/; Sanskrit: योग; pronunciation) is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India. Yoga is one of the six orthodox schools of Hindu philosophical traditions					</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-stationary-bike"></span>
							</div>
							<div class="text ml-5">
								<h3>Cardio Training</h3>
								<p>Cardiovascular training,  is a type of exercise that increases the endurance of skeletal muscles by making the distribution of oxygen by the heart more efficient. ... Exercises of this type use large muscle groups, and involve raising the heart rate to a specific rate for at least 30 minutes</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>


    {% endblock %}